# used by sdcardfs to read package list
allow kernel system_data_file:file open;

# Drivedroid (https://www.reddit.com/r/oneplus/comments/4y9vyp/op3_drivedroid/d6mh0ik/)
allow kernel media_rw_data_file:file { read write };